<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>SITTA UT</title>

    <!-- CSS -->
    <link rel="stylesheet"
          href="assets/css/style.css">
</head>

<body>
    <!-- ROOT APP -->
    <div id="app">
        <!-- LOGIN -->
        <login-page
            v-if="!isLoggedIn"
            @login-success="handleLoginSuccess">
        </login-page>

        <!-- DASHBOARD -->
        <dashboard-page
            v-else
            :bahan-ajar="bahanAjar"
            :kategori-list="kategoriList"
            :upbjj-list="upbjjList"
            :user-name="userName"
            @logout="handleLogout">
        </dashboard-page>

        <!-- APP Modal -->
        <app-modal
            v-if="modal.show"
            :type="modal.type"
            :message="modal.message"
            :payload="modal.payload"
            @close="modal.show = false"
            @confirm="handleModalConfirm">
        </app-modal>
    </div>

    <!-- TEMPAT TEMPLATE HTML -->
    <div id="template-container"></div>

    <!-- VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- SERVICE -->
    <script src="js/services/api.js"></script>

    <!-- APP ROOT -->
    <script src="js/app.js"></script>

    <!-- COMPONENTS -->
    <script src="js/components/login-page.js"></script>
    <script src="js/components/dashboard-page.js"></script>
    <script src="js/components/stock-table.js"></script>
    <script src="js/components/do-tracking.js"></script>
    <script src="js/components/status-badge.js"></script>
    <script src="js/components/app-modal.js"></script>
    
    <!-- LOAD TEMPLATE -->
    <script src="js/load-template.js"></script>
    
</body>

</html>